%h1 QR Hunt

- if authorize
  %a{href: "/u"} Min sida

%h2 Highscore

#highscore
  %table{:class=>"table table-striped table-hover"}
    %thead
      %tr
        %th Spelare
        %th Poäng
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.score
