%h1 QR Hunt - Highscore

- if !@live && authorize
  %a{href: "/u"} Min sida

#highscore
  %table{:class=>"table table-striped table-hover"}
    %thead
      %tr
        %th Spelare
        %th Progress
        %th Poäng
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td
            .progress
              .bar{:style=>"width: #{user.progress}%"}
          %td= user.score

- if @live
  :javascript
    setTimeout("location.reload();", 5000);
