!!! Transitional
%html(xmlns='http://www.w3.org/1999/xhtml' lang='sv')
  %head
    %title QR Hunt
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')/
    %link(rel='stylesheet' type='text/css' href='/bootstrap.min.css')/
    %link(rel='stylesheet' type='text/css' href='/style.css')/
  %body
    #main
      - $flash.each do |key,val| 
        %p{class: "alert alert-#{key}"}= val
      
      = yield
